@import url("global.css");
@import "../node_modules/bootstrap/scss/bootstrap";

.tamanhodatela{
    height: 80vh;
}

.cordobotao{
    background-color: #F49F0A;
    font-weight: bold;
    color: #121212;
}

.cordobotao:hover{
    background-color: #F08700;   
}

