@import url("global.css");

.tamanhodatela{
    height: 85vh;
}

.cordobotao{
    background-color: #F49F0A;
    font-weight: bold;
    color: #121212;
}

.cordobotao:hover{
    background-color: #F08700;   
}